.root {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 48px 0;

  @include respond(tablet) {
    margin: 32px 0;
  }
  .title {
    color: var(--Accents-Brand-Blue);
  }
  .wrapper {
    display: flex;
    gap: 4px;
    color: var(--Neutral-Gray-1);
  }
  .description {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-inline-size: 300px;
  }
}
