.root {
  margin-block-start: 48px;
  @include respond(tablet) {
    margin-block-start: 32px;
  }
  .categoryFaq {
    color: var(--Accents-Brand-Blue);
    padding-bottom: 48px;
  }
  .faq {
    display: flex;
    position: relative;
    @include respond(tablet) {
      flex-direction: column-reverse;
    }
  }
}
.accent {
  background-color: var(--Accents-Light-Blue2);
  color: var(--Accents-Brand-Blue);
}
