.triggers {
  display: flex;
  gap: 4px;
}

.trigger {
  padding: 6px 0;

  display: flex;
  flex-direction: column;
  gap: 2px;

  transition: all 0.3s ease;
  color: var(--Neutral-Gray-1);
  border-radius: 8px;
  width: 100%;
  cursor: pointer;

  span {
    width: 100%;
  }

  &[data-state='active'] {
    color: var(--Neutral-Black);
    background: var(--Neutral-White);

    &.cursorDisabled {
      cursor: default;
    }
  }
}

.underline {
  display: block;
  height: 2px;
  width: 100%;

  border-radius: 2px;
  background-color: var(--Text-Primary);
}
